<p id="notice"><%= notice %></p>

<div id="header">

	<div class="row">
        <div class="col-md-2">
        	<div class="logo">
        		<%= image_tag "chanel-logo.png" %>
        	</div>
        </div>

        <div class="col-md-6">
        	<nav id="nav">
	        	<ul id="main-menu">
	        		<li><a href="#">Coats</a></li>
	        		<li><a href="#">Dresses</a></li>
	        		<li><a href="#">Shorts</a></li>
	        		<li><a href="#">Skirts</a></li>
	        		<li><a href="#">Tops</a></li>
	        		<li><a href="#">Trousers</a></li>
	        	</ul>
        	</nav>        	
        </div>

        <div class="col-md-2">
        	<div class="social">
        		<ul>
        			<li>
						<%= link_to image_tag('facebook.png'), "https://facebook.com", target: '_blank' %>
					</li>
        			<li>
        				<%= link_to image_tag('instagram.png'), "https://instagram.com", target: '_blank' %>
        			</li>
        			<li>
        				<%= link_to image_tag('pinterest.png'), "https://pinterest.com", target: '_blank' %>
        			</li>
        			<li>
        				<%= link_to image_tag('youtube.png'), "https://youtube.com", target: '_blank' %>
        			</li>
        			<li>
        				<%= link_to image_tag('twitter.png'), "https://twitter.com", target: '_blank' %>
        			</li>
        			<li>
        				<%= link_to image_tag('gplus.png'), "https://plus.google.com", target: '_blank' %>
        			</li>        		
        	</div>
        	
        </div>

        <div class="col-md-2">
        	<nav id="subnav">
        		<ul>
        			<li><a href="#">LOGIN |</a></li>
        			<li><a href="#">SIGN UP</a></li>
        			<li><%= link_to image_tag('bag.png'), "#" %></li>
        		</ul>
        	</nav>        	
        </div>
    </div>


</div>

<!--<h1>Calculator</h1>

<%= form_tag("/calculate", method: "get") do %>
  <%= label_tag(:shoulder, "Shoulder:") %> 
  <%= text_field_tag(:shoulder) %>
 <%= label_tag(:waist, "Waist:") %>
  <%= text_field_tag(:waist) %>
   <%= label_tag(:hips, "Hips:") %>
  <%= text_field_tag(:hips) %>

  <%= submit_tag("Calculate") %>
<% end %>-->